@page
@model LoginModel

@{
    ViewData["Title"] = "Авторизація";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
    ViewData["Back"] = "/Home/Index";
}


<form id="account" method="post">
    <h2 style="text-align: center">З поверненням</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Login" class="form-control" autocomplete="Login" aria-required="true" placeholder="Login" />
        <label asp-for="Input.Login">Логін</label>
        <span asp-validation-for="Input.Login" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
        <label asp-for="Input.Password" class="form-label">Пароль</label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="checkbox mb-3">
        <label asp-for="Input.RememberMe" class="form-label">
            <input class="form-check-input" asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
    </div>
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg reg-log-button" >Авторизація</button>
        @if (ViewData["Back"] != null)
        {
            <a href="@ViewData["Back"]" class="btn btn-return">
                <img class="img-back" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-back-256.png" alt="Arrow" style="margin-right: 5px;">
                <span>Повернутись</span>
            </a>
        }
    </div>
   
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
