html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
    background-color: #363b40;
    border: 0px;

}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}

.form-floating > .form-control {
    padding: 1rem 0.75rem;
    background-color: #363b40;
    border-radius: 10pt;
    border: 0pt;
    color: #fff;
}

body {
    margin-bottom: 60px;
    font-family: Roboto, sans-serif;
    background-color: #12161d;
}

    /*tab navigation*/

    .login-logout-card {
    background-color: #222b33;
    border: 0;
    border-color: black;
    border-radius: 20px;
    color: white;
    
}
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
    
}

    .login-logout-card ul.nav-tabs {
        margin: 0px 0px -12px 0px;
        
    }

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.reg-log-button {
    background-color: #228B22;
    border-radius: 15px;
    color: #fff;
}



.center-radio-group {
    display: flex;
    justify-content: center;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active,
.btn-outline-primary:hover {
    color: #fff; /* новий колір тексту */
    background-color: #363b40; /* новий фоновий колір */
    border-color: #363b40; /* новий колір межі */
    box-shadow: 0 0 0 0.2rem rgba(54, 59, 64, 0.25);
}
.btn-outline-primary {
    color: #fff;
    border-color: #363b40;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 10pt;
}

.btn-return {
    color: #fff; /* новий колір тексту */
    background-color: red;
    border-radius: 10pt;
    display: flex;
    justify-content: center;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 10pt;
}
/*Таблиці*/
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
    vertical-align: top;
    border-color: #dee2e6;
    border-radius: 0.25em;
    border-collapse: separate;
    border-spacing: 0 1em;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

/*Sidebar*/

.sidebar {
    height: 100vh;
    width: 200px;
    background-color: #222b33;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10pt;
    color: white;
    z-index: 1000;
    float: left;
}
.sidebar-btn {
    width: 100%;
    text-align: left;
    padding: 8px 10px;
    margin-bottom: 20pt;
    border: none;
    background-color: #363b40;
    color: white;
    cursor: pointer;
    border-radius: 15pt;
    border-color: #363b40;
}

    .sidebar-btn img {
        width: 20px; /* розмір вашого зображення */
        margin-right: 20px;
    }

.img-back {
    width: 30px; /* розмір вашого зображення */
}

.btn-table {
    width: 20px; /* розмір вашого зображення */
    border: none;
    outline: none;
    box-shadow: none;
}