@model ProjectExpensesManager.Models.Transaction

@{
    ViewData["Title"] = "Goal add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Sidebar"] = "active";
    ViewData["Back"] = "/Goals/Index";
}

<div class="row justify-content-center">
    <div class="col-5">
        <div class="card login-logout-card" style="padding: 10pt; color: #fff; background-color: #222b33">
            <div class="card-header" style="background-color:#222b33; border: 0px">
                <form asp-action="CreateForGoal" method="post">
                    <h2 style="text-align: center">Внесення коштів на ціль</h2>
                    <hr />
                    <h3 style="text-align: center">@ViewBag.GoalName</h3>
                    <input type="hidden" asp-for="GoalId" value="@ViewBag.ThisGoal" />

                    <div class="form-floating mb-3">
                        <input asp-for="Amount" class="form-control" type="number" step="any" />
                        <label asp-for="Amount" class="control-label"></label>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="CreationTime" class="form-control" type="date" />
                        <label asp-for="CreationTime" class="control-label"></label>
                        <span asp-validation-for="CreationTime" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="submit" value="Створити" class="w-100 btn btn-lg reg-log-button" />
                        @if (ViewData["Back"] != null)
                        {
                            <a href="@ViewData["Back"]" class="btn btn-return">
                                <img class="img-back" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-back-256.png" alt="Arrow" style="margin-right: 5px;">
                                <span>Повернутись</span>
                            </a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
